@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --social-link-color: #1a202c;
  --social-link-hover-color: #f29705;
  --logo-bg-color: #0A264B;
  --logo-fg-color: #FBDB5A;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb:10, 38, 75;
    --background-end-rgb: 0, 0, 0;
    --social-link-color: #e5dfd3;
    --social-link-hover-color: #ffde5b;
    --logo-bg-color: #ffffff;
    --logo-fg-color: #0A264B;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.type-writter-container {
  font-size: 5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
}
